# FLASK GÜVENLİK
FLASK_SECRET_KEY=kendi_gizli_anahtarinizi_yazin

# GMAIL SMTP AYARLARI (MAİL GÖNDERİMİ İÇİN)
GONDERICI_MAIL_ADRESI=sirket_maili@gmail.com
GMAIL_UYGULAMA_SIFRESI=google_uygulama_sifresi
TEST_MAIL_ADRESI=test_icin_mail_adresi_yaziniz